################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lesson - 5 Pointers and Arrays/.vs
/CH 5 - Pointers and Arrays/.vs/CH 5 - Pointers and Arrays/v16/Browse.VC.db
/CH 5 - Pointers and Arrays/.vs/CH 5 - Pointers and Arrays/v16
/Chapter 6 - Structure/.vs/
/CH 5 - Pointers and Arrays/5.1 Pointers and Addresses/Debug
/Chapter 2：Types, Operators and Expressions/.vs/Chapter 2：Types, Operators and Expressions/v16
