################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lesson - 5 Pointers and Arrays/.vs
/CH 5 - Pointers and Arrays/.vs/CH 5 - Pointers and Arrays/v16/Browse.VC.db
/CH 5 - Pointers and Arrays/.vs/CH 5 - Pointers and Arrays/v16
/Chapter 6 - Structure/.vs/
/CH 5 - Pointers and Arrays/.vs/CH 5 - Pointers and Arrays
/CH 5 - Pointers and Arrays/5.1 Pointers and Addresses/x64/Debug/5.1 Poin.04a111a1.tlog
/CH 5 - Pointers and Arrays/5.1 Pointers and Addresses/x64/Debug
